<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Generating ETH accounts</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>Generating Ethereum accounts and signing transactions in Javascript</h1>
    <div id="app">
      <div>
        <div><button v-on:click="generateNew">Generate New Mnemonic</button></div>
        Mnemonic: <textarea v-model="mnemonic"></textarea>
      </div>
      <div v-if="!validMnemonic && mnemonic !== ''">
        The mnemonic you have entered is invalid. Please try another.
      </div>
      <div v-if="validMnemonic">
        <p>Private Key: {{privKey.bn.toString('hex')}}</p>
        <p>Public Key:  {{pubKey.toString('hex')}}</p>
        <p>Ethereum address: {{ETHaddress}}</p>
      </div>
    </div>
  </body>
  <script src="./bundle.js"></script>
</html>